.App {
  text-align: center;
  max-width: 800px;
  height: 780px;
  margin: 0 auto;
  border: 3px solid;
  border-radius: 10px;
  box-shadow: 0 0 10px;
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* header */
.header{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.header__content{
  flex: 1;
  display: flex;
  justify-content:center;
  gap: 5px;
}
.header__content_input{
  padding: 8px;
  width: 100%;
}
.header__content_btn{
  border-radius: 50%;
}
.header__btn{
  flex: 1;
  display: flex;
  align-items: center;
}
.header__btn>button{
  display: flex;
}
.content{
  width: 100%;
  height: 100%;
}
.todoItem{
  display: flex;
  flex-direction: column;
  width: 150px;
  margin: 0 4px 4px 0;
  padding: 4px;
  border: 4px solid rgb(0 0 0 / 85%);
  cursor: pointer;

  transition: transform .2s; /* Animation */
}
.todoItem:hover{
  transform: scale(1.05);
}
.todoItem__border{
  border-bottom: 2px solid;
}
.todoItem__container{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
/* .todoItem__button{
  display: flex;
  justify-content:center;
  gap: 5px;
  
}
.todoItem__button--done,
.todoItem__button--black{
  height: auto !important;
}
.todoItem__button--done{
  fill: lightgreen !important;
} */
/* body */
.body{
  overflow: auto;
  height: calc(100% - 143px);

  /* border-bottom: 2px solid; */
}
/* pagination */
/* footer */

.footer{
  position: absolute;
    bottom: 77px;
    left: 130px;
  width: 100%;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  transform: translateY(46px);
}
.footer__previous,.footer__number,.footer__next{
  transform: translateY(7px);
}